*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: lightblue;
}
#form-container{
    
    /* display: flex; */

 /* always on the main axis */
     justify-content: center;
     align-self: center; 
    height: 480px;
    width: 300px;
    background-color: darkcyan;
    flex-basis: 200px;
    border-radius: 20px;

    display: flex;

    /* always on the cross axis */
    align-items: center;
    text-align: center;
    margin:  50px auto;
    
    
 }
 .find-state{
    /* position: absolute; */
    background-color: azure;
    color: rgb(255,0,0);
     /* bottom: -1300px;
     left: 0%; */
 }
 h1{
      color: white;
     font-family: sans-serif;
    margin-left: 500px ;
 }
input[type=submit]{
display: block;
border-radius: 20px;
border: none ;
text-align: center;
}
input[type=submit]:hover{
height: 40px;
text-decoration: none;

background-color: dodgerblue;
}
div label{
    margin: 5px 20px;
}
 div input{ 
     margin-top: 25px; 
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     margin: 25px 25px; 
} 
@media(max-width:600px){
h1{
    width: 100%;
    flex-direction: column;
        padding-top: 20px;
        text-align: center;
}
}