@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    background: #a1c3ff;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;


    
}
h1,h2{
    margin-bottom: 15px;
}
.navbar .main-heading{
    
    font-size: x-large;
    font-weight: bold;

    
}


.find-state{
    /* position: absolute; */
    background-color: azure;
    color: rgb(255,0,0);
     /* bottom: -1300px;
     left: 0%; */
     

}
.copyright{
    /* position: absolute;
    bottom: -1300px;
    left: 400px; */
    text-align: center;
    
}
hr{
    height: 5px;
    width: 300px;
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
}
.container{
max-width: 1100px;
margin: 0 auto;
padding: 0 30px;
}
.navbar{
    background: #3474e6;
    color: #fff;
    height: 60px;
}
.navbar a:hover{
    color: lightblue;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100%; */
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin-left: 20px;

}
.header{
    background-color: #0151cc;
    color: white;
    min-height: 400px;
}
.header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}
.header img{
    max-width: 400px;
}
.header .container{
    display: flex;
    align-items: center;
}
.boxes .container{
    display: flex;
    justify-content: space-between; 

}
 .box{
    flex: 1;
    background: #0a51cc;
     border: 2px solid purple;
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0,0, 0, 0.6);
    padding: 15px 20px;



} 
.box i{
    margin-right: 10px;
}

@media(max-width:768px){
    .header .container{
        flex-direction: column;
        padding-top: 20px;
        text-align: center;

    }
    .boxes .container{
        display: block;
        text-align: center;

    }
}
.card_img{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 1px purple solid;
} 